.cabecalho{
width: 700px;
height: 1324px;
background-color: aqua;


}
.primeira_secao{
width: 700px;
height: 840px;
background-color: beige;

}

.caixa_camisa{
width: 700px;
height: 840px;
background-color: beige;
display: flex;
flex-direction: row;
justify-content: space-between;
}